/* style.css */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #111;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #dc3545; /* Merah khas Logistik Kita */
}

.navbar-brand,
.nav-link,
.navbar-toggler {
  color: #fff !important;
}

.nav-link:hover {
  background-color: #a71d2a;
  color: #fff !important;
  border-radius: 5px;
}

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  border: none;
}

.card:hover {
  transform: scale(1.03);
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
