/* wheel-picker.css */
.wheel-picker {
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background: #fff;
  text-align: center;
  font-weight: bold;
}

.wheel-picker div {
  line-height: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.wheel-picker .selected {
  color: #ef4444;
  font-size: 1.2rem;
}
